body{
    background-color: aquamarine;
}

h1{
    color: black;
}

p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    margin: 0%;
    padding: 0%;
    list-style: 0%;
}
